{% extends "admin_base.html" %}
{% block title %}Matriks Perbandingan{% endblock %}

{% block content %}
<h3 class="mb-4">Matriks Perbandingan Kriteria (AHP)</h3>

<form method="POST">
  <table class="table table-bordered text-center align-middle">
    <thead>
      <tr>
        <th>Kriteria</th>
        {% for k in kriteria %}
          <th>{{ k['nama'] }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for i in range(kriteria|length) %}
      <tr>
        <th>{{ kriteria[i]['nama'] }}</th>
        {% for j in range(kriteria|length) %}
          <td>
            <input
              type="number"
              step="0.1"
              name="nilai_{{ i }}_{{ j }}"
              value="1"
              class="form-control text-center"
              required
            >
          </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <button class="btn btn-primary w-100">
    Proses AHP
  </button>
</form>
{% endblock %}
